
  

    #first img
    {
    
    animation-name:preloader1;
    animation-duration:5s;
    animation-iteration-count:infinite;
    animation-timing-function:ease;
    }

   



@keyframes preloader1
{
  0%{}
  25%{transform: scale(1.25);}
  50%{transform:scale(1);}
  75%{transform:scale(1.25);}
  100%{transform:scale(1);}
}



.App {
  text-align: center;
  height:inherit;

  

  .app-inner-wrapper
  {
    
    height:inherit;
  }
  
  
  }







body,html
{
  margin: 0;
  height: 100%;



}


#test
{
  
  width:400px;
  height:500px;
}


.IntroBackground
{
  
  z-index:-1;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to left, #43C6AC , #191654);

  



  img
  {
    position: absolute;
    bottom: -2.15em;
    z-index:1;
    right:0;
    animation-name:illustration;
    animation-duration:0.75s;
    height: 400px;
    width: 500px;
    transition: all 0.5s;



  }


  img:hover
  {
    transform:scale(1.2);
  }

  

  
  
}




@keyframes illustration
{
  0%{ transform: translateY(100px);opacity:0;}
  100%{transform: translateY(0);opacity:1}
}


#sticky-footer {
  background-image: linear-gradient(to left, #43C6AC , #191654);
  flex-shrink: none;
  height:150px;
  color:white;


}



