



.Contacts
{
	position:absolute;
	top:0;
	display:grid;
	justify-content:start;
	grid-template-columns: 1fr 1fr 1fr;
	right:0;

					a
				{
					img
					{
						width:30px;
						height:30px;
					}
					margin: 1em 2em;


				}
}




